#d1 {
    background-color: aqua;
}
body {
    background-color: aqua;
}
#damru {
    background-color: #120eed;
    width: 70%;
    color: aqua;
    border-radius: 10px;
    padding-top: 10px; 
        padding-bottom: 10px;
}
.achievments_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
   width: 80%;
    margin-left: 130px;
}
.book {
    cursor: pointer;
}
.book hr {
    margin-bottom: 10px;
}
.modal-content {
    margin-top: 100px;
    
}
.img_modal {
    display: inline-block;
    
}
.p_modal {
    margin-top:10px;
}   
.achievments_head i {
    float:right;
}

.whatsnew_p {
    padding-top: 40px;
}

.achievments_text span {
    color: #ff7700;
}
.whatsnew_li {
    border-radius: 100px;
}
#contact {
    margin-top: 330px;
}
html {
    scroll-behavior: smooth;
}